type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type op1_file, file_type;
type op2_file, file_type;
type persist_file, file_type;
type sysfs_graphics, sysfs_type, fs_type;
type proc_touchpanel, fs_type;
type sysfs_fpc_proximity, sysfs_type, fs_type;

type sysfs_oem, sysfs_type, fs_type;
type sysfs_battery_supply, sysfs_type, fs_type;
type sysfs_graphics_panelmode, sysfs_type, fs_type;

# Fingerprint
type fingerprint_data_file, data_file_type, file_type, core_data_file_type;
type fingerprint_persist_file, file_type;
type fingerprint_sysfs, sysfs_type, fs_type;

# Input devices
type idc_file, file_type, vendor_file_type;
type keylayout_file, file_type, vendor_file_type;
