# Fingerprint
/sys/devices/soc/soc:fingerprint_fpc*        irq                0700  system system
/sys/devices/soc/soc:fingerprint_fpc*        irq_enable         0700  system system
/sys/devices/soc/soc:fingerprint_fpc*        wakeup_enable      0700  system system
/sys/devices/soc/soc:fingerprint_fpc*        hw_reset           0700  system system
/sys/devices/soc/soc:fingerprint_fpc*        device_prepare     0700  system system
/sys/devices/soc/soc:fingerprint_fpc*        vendor             0700  system system
/dev/goodix_fp            0660   system     system
